p {
  font-family: 'Sansita Swashed', cursive, Arial, Helvetica, sans-serif;
  color: red;
}

p#bold-paragraph {
  font-weight: 900;
}

p#italic-paragraph {
  font-style: italic;
}

ion-icon {
  color: red;
  font-size: 140px;
}

span {
  background-color: darkblue;
  color:yellow;
  font-size: 100px;
}